[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
GenericName=Collaboration
Comment=Microsoft Teams in a standalone window
Exec=/usr/bin/google-chrome-stable --app=https://teams.microsoft.com/ --class=teams-web --name=teams-web
Icon=teams-web
Terminal=false
StartupNotify=true
StartupWMClass=teams-web
Categories=Network;InstantMessaging;Chat;
Keywords=teams;microsoft;meeting;chat;call;
